<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <form (ngSubmit)="addTeam()" #f="ngForm">
      <h2>ADD TEAM</h2>
      <div class="from-group">
        <label for="id" style="color: white">Id</label>
        <input type="text" id="id" class="form-control" name="id" [(ngModel)]="team.id"  #id="ngModel" required>
        <div *ngIf="id.invalid && id.touched">
          id obligatoire
        </div>
      </div>
      <div class="from-group">
        <label for="team_name" style="color: white">Team_Name</label>
        <input type="text" id="team_name" class="form-control" name="team_name" [(ngModel)]="team.team_name" #team_name="ngModel" required >
        <div *ngIf="team_name.invalid && team_name.touched">
          team_name obligatoire
        </div>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Ajouter</button>
    </form>

  </div>
</div>
